:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
.ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 10%) !important;
}